.testimonialSection {
  text-align: center;
  margin: 3rem auto;
  max-width: 1200px;
  padding: 2rem;
}

.testimonialWrapper {
  display: flex;
  flex-direction: row; /* Align items vertically */
  align-items: center;
  justify-content: center; /* Center align items */
  margin-bottom: 3rem;
}

.circleContainer {
  width: 50rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-direction: column;
}


.circle {
  background-color: #a1ab87; /* Adjusted to match the green shade */
  border-radius: 500px;
  width: 377px;
  height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {  
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
  color: #94a3b8;
  color: #333;
  margin: 1rem 0;
  position: relative;
}

.quoteIcon {
  font-size: 1rem;
  color: #333;
  margin: 0 0.5rem;
}
.starIcon {
  font-size: 1rem;
  color: #C1A78C;
  margin: 0 0.5rem;
}

.textWrapper {
  display: inline-block;
  margin: 0 1rem;
}

.authorRole {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.navButton {
  display: flex;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}
.navButton:hover{
  background-color: transparent;

}

.dotContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #d0bda9;
  display: inline-block;
  cursor: pointer;
}

/* button:hover{
  background-color: transparent;
} */


.activeDot {
  background-color: #333; /* Change this color to match your theme */
}

/* --- Responsive styles --- */

@media (max-width: 1024px) {
  .testimonialWrapper { 
    flex-direction: column;
  }

  .circleContainer {
    width: 100%;
    height: auto;
  }

  .circle {
    width: 12rem;
    height: 12rem;
  }

  .navButton {
    display: none; /* Hide navigation buttons on tablet */
  }

  .textContainer {
    font-size: 1.1rem;
  }

  .authorRole {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .testimonialWrapper {
    padding-top: 2rem;
    flex-direction: column;
  }
  .circle {
    width: 10rem;
    height: 10rem;
  }

  .textContainer {
    font-size: 1rem;
  }

  .quoteIcon {
    font-size: 1.25rem;
  }

  .authorRole {
    font-size: 0.75rem;
  }

  .testimonialWrapper p {
    font-size: 1rem;
  }

  .navButton {
    display: none; /* Hide navigation buttons on mobile */
  }
}

@media (max-width: 480px) {
  .testimonialSection {
    padding: 1rem;
  }

  .circle {
    width: 8rem;
    height: 8rem;
  }

  .textContainer {
    font-size: 0.875rem;
  }

  .quoteIcon {
    font-size: 1rem;
  }

  .testimonialWrapper p {
    font-size: 0.875rem;
  }

  .navButton {
    display: none; /* Hide navigation buttons on mobile */
  }
}
